.dummy{
	color : black;
}

.h3 {
  color: #010b01;
  background: none;
  font-weight: bold;
  font-size: 1rem;
}
.mainDiv{
  box-shadow: rgba(17, 17, 26, 0.1) 0px 1px 0px, rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 48px;
  max-height:max-content;
}

.red-row {
    background-color:red ;/* Light red color */
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}

.slds-input {
    width:0;
}

.fullWidth{
  width: 100% !important;
}

.slds-scrollable_x {

}

.slds-scrollable{
  min-height: fit-content;
  max-height: 400px;
}

.acdetails{
  max-height:400px;
}

.slds-backdrop{
	opacity: 0.3;
  position: absolute; 
  left: 0px; 
  right: 0px; 
  bottom: 0; 
  top: 10px; 
  width: 100%; 
  height: auto; 
  z-index: 999;
  backdrop-filter: blur(15px);
}