.dummy{
	color : black;
}

.h3 {
  color: #010b01;
  background: none;
  font-weight: bold;
  font-size: 1rem;
}
.mainDiv{
  box-shadow: rgba(17, 17, 26, 0.1) 0px 1px 0px, rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 48px;
}

.red-row {
    background-color:red ;/* Light red color */
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}